{{#this}}
  <ul data-am-widget="gallery" class="am-gallery{{#if options.cols}} am-avg-sm-{{options.cols}}{{else}} am-avg-sm-2{{/if}}
  am-avg-md-3 am-avg-lg-4 {{#if
  theme}}am-gallery-{{theme}}{{else}}am-gallery-default{{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}" data-am-gallery="{ {{#if options.gallery}}pureview: true{{/if}} }" {{#if id}}id="{{id}}"{{/if}}>
    {{#each content}}
      <li>
        <div class="am-gallery-item">
          {{#if link}}
            <a href="{{link}}" class="{{className}}">
              {{#if img}}<img src="{{img}}" {{#if rel}}data-rel="{{rel}}"{{/if}} alt="{{title}}"/>{{/if}}
              {{#if title}}
                <h3 class="am-gallery-title">{{{title}}}</h3>
              {{/if}}
              {{#if desc}}
                <div class="am-gallery-desc">{{{desc}}}</div>
              {{/if}}
            </a>
          {{else}}
            {{#if img}}<img src="{{img}}" {{#if rel}}data-rel="{{rel}}"{{/if}} alt="{{title}}"/>{{/if}}
            {{#if title}}
              <h3 class="am-gallery-title">{{{title}}}</h3>
            {{/if}}
            {{#if desc}}
              <div class="am-gallery-desc">{{{desc}}}</div>
            {{/if}}
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ul>
{{/this}}
