{{#this}}
<div data-am-widget="titlebar" class="am-titlebar {{#if theme}}am-titlebar-{{theme}}{{else}}am-titlebar-default{{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}" {{#if id}}id="{{id}}"{{/if}}>
  {{#if content.title}}
    <h2 class="am-titlebar-title {{#unless content.link}}{{content.className}}{{/unless}}">
      {{#if content.link}}
        <a href="{{content.link}}" class="{{content.className}}">{{{content.title}}}</a>
      {{else}}
        {{{content.title}}}
      {{/if}}
    </h2>
  {{/if}}

  {{#if content.nav}}
    <nav class="am-titlebar-nav">
      {{#each content.nav}}
        <a href="{{link}}" class="{{className}}">{{{title}}}</a>
      {{/each}}
    </nav>
  {{/if}}
</div>
{{/this}}
