{{#this}}
  <div class="am am-<%= widgetName %>{{#if theme}} am-<%= widgetName %>-{{theme}}{{else}} am-<%= widgetName %>-default{{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}"{{#if id}} id="{{id}}"{{/if}}>

  </div>
{{/this}}