{{#this}}
  <div data-am-widget="slider" class="am-slider {{#if theme}}am-slider-{{theme}}{{else}}am-slider-default{{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}" data-am-slider='{{sliderConfig}}' {{#if id}}id="{{id}}"{{/if}}>
  <ul class="am-slides">
    {{#each content}}
      <li{{#if thumb}} data-thumb="{{thumb}}"{{/if}}>
        {{#if link}}
          <a href="{{link}}" class="{{className}}">
        {{/if}}
        {{#if img}}
        	<img src="{{img}}">
        {{/if}}
        {{#if desc}}
          <div class="am-slider-desc">{{{desc}}}</div>
        {{/if}}
        {{#if link}}</a>{{/if}} {{!--/end link--}}
      </li>
    {{/each}}
  </ul>
</div>
{{/this}}