{{#this}}
  <section data-am-widget="accordion" class="am-accordion {{#if theme}}am-accordion-{{theme}}{{else}}am-accordion-default{{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}"{{#if id}} id="{{id}}"{{/if}} data-am-accordion='{ {{#if options.multiple}}"multiple": true{{/if}} }'>
    {{#each content}}
      <dl class="am-accordion-item{{#if active}} am-active{{/if}}{{#if disabled}} am-disabled{{/if}}">
        <dt class="am-accordion-title">
          {{{title}}}
        </dt>
        <dd class="am-accordion-bd am-collapse {{#if active}}am-in{{/if}}">
          <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
          <div class="am-accordion-content">
            {{{content}}}
          </div>
        </dd>
      </dl>
    {{/each}}
  </section>
{{/this}}
