{{#this}}
  <div data-am-widget="tabs"
       class="am-tabs{{#if theme}} am-tabs-{{theme}}{{else}} am-tabs-default{{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}"
       {{#if id}}id="{{id}}"{{/if}} {{#if options.noSwipe}}data-am-tabs-noswipe="1"{{/if}}>
    {{#if content}}
      <ul class="am-tabs-nav am-cf">
        {{#each content}}
          <li class="{{#if active}}am-active{{/if}}"><a href="[data-tab-panel-{{@index}}]">{{{title}}}</a></li>
        {{/each}}
      </ul>
      <div class="am-tabs-bd">
        {{#each content}}
          <div data-tab-panel-{{@index}} class="am-tab-panel {{#if active}}am-active{{/if}}">
            {{{content}}}
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
{{/this}}
