{{#this}}
  <ul data-am-widget="pagination"
      class="am-pagination {{#if theme}}am-pagination-{{theme}}{{else}}am-pagination-default{{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}"
      {{#if id}}id="{{id}}"{{/if}}>

    {{#if content.firstTitle}}
      <li class="am-pagination-first {{content.firstClassName}}">
        <a href="{{content.firstLink}}" class="{{content.firstClassName}}">{{{content.firstTitle}}}</a>
      </li>
    {{/if}}

    {{#if content.prevTitle}}
      <li class="am-pagination-prev {{content.prevClassName}}">
        <a href="{{content.prevLink}}" class="{{content.prevClassName}}">{{{content.prevTitle}}}</a>
      </li>
    {{/if}}

    {{! 移除 options.select，根据主题来判断结构，无奈 handlebars 逻辑处理...}}

    {{#if content.page}}
      {{#ifCond theme '==' 'select'}}
        <li class="am-pagination-select">
          <select>
            {{#each content.page}}
              <option value="{{link}}" class="{{className}}">{{title}}{{#if ../content.total}}
                / {{../../content.total}}{{/if}}
              </option>
            {{/each}}
          </select>
        </li>
      {{else}}
        {{#ifCond theme '==' 'one'}}
          <li class="am-pagination-select">
            <select>
              {{#each content.page}}
                {{content.total}}
                <option value="{{link}}" class="{{className}}">{{title}}{{#if ../content.total}}
                  / {{../../content.total}}{{/if}}
                </option>
              {{/each}}
            </select>
          </li>
        {{else}}
          {{#each content.page}}
            <li class="{{className}}">
              <a href="{{link}}" class="{{className}}">{{{title}}}</a>
            </li>
          {{/each}}
        {{/ifCond}}
      {{/ifCond}}

    {{/if}}

    {{#if content.nextTitle}}
      <li class="am-pagination-next {{content.nextClassName}}">
        <a href="{{content.nextLink}}" class="{{content.nextClassName}}">{{{content.nextTitle}}}</a>
      </li>
    {{/if}}

    {{#if content.lastTitle}}
      <li class="am-pagination-last {{content.lastClassName}}">
        <a href="{{content.lastLink}}" class="{{content.lastClassName}}">{{{content.lastTitle}}}</a>
      </li>
    {{/if}}
  </ul>
{{/this}}
