{{#this}}
  <nav data-am-widget="menu" class="am-menu {{#if theme}} am-menu-{{theme}}{{else}} am-menu-default{{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}" {{options.dataset}} {{#if id}}id="{{id}}"{{/if}}>
    <a href="#{{options.offCanvasId}}" class="am-menu-toggle"><span class="am-icon-bars"></span></a>

    {{#if options.offCanvas}} {{!-- offCanvas Wrap--}}
    <div class="am-offcanvas" id="{{options.offCanvasId}}">
      <div class="am-offcanvas-bar{{#if options.offCanvasFlip}} am-offcanvas-bar-flip{{/if}}">
    {{/if}}

    {{#if content}}
      <ul class="am-menu-nav am-menu-lv1 {{#if options.cols}}sm-block-grid-{{options
      .cols}}{{else}}sm-block-grid-1{{/if}}{{#ifCond theme '==' 'dropdown1'}} am-collapse{{/ifCond}}{{#ifCond theme
      '==' 'dropdown2'}} am-collapse{{/ifCond}}{{#ifCond theme
      '==' 'slide1'}} am-collapse{{/ifCond}}">
        {{#each content}}
          <li class="{{#if subMenu}}am-parent{{/if}}{{#if className}} {{className}}{{/if}}">
            <a href="{{link}}">{{{title}}}</a>
            {{#if subMenu}}
              <ul class="am-menu-sub am-menu-lv2{{#if subCols}} sm-block-grid-{{subCols}}{{else}} sm-block-grid-1{{/if}} {{subMenuClassName}}">
                {{#each subMenu}}
                  <li class="{{#if subMenu}} am-parent{{/if}}{{#if className}} {{className}}{{/if}}">
                    <a href="{{link}}">{{{title}}}</a>
                    {{#if subMenu}}{{!--三级菜单--}}
                      <ul class="am-menu-sub am-menu-lv3{{#if subCols}} sm-block-grid-{{subCols}}{{else}} sm-block-grid-1{{/if}}">
                        {{#each subMenu}}
                          <li class="{{#if className}} {{className}}{{/if}}">
                            <a href="{{link}}">{{{title}}}</a>
                          </li>
                        {{/each}}
                      </ul>
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
    {{#if options.offCanvas}}
      </div>
    </div>
    {{/if}}
  </nav>
{{/this}}
