{{#this}}
  <section data-am-widget="sohucs" class="am-sohucs{{#if theme}} am-sohucs-{{theme}}{{else}} am-sohucs-default{{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}"{{#if id}} id="{{id}}"{{/if}} data-am-sohucs-appid="{{options.appid}}" data-am-sohucs-conf="{{options.conf}}">
    <div id="SOHUCS"></div>
  </section>
{{/this}}