{{#this}}
  <div data-am-widget="navbar" class="am-navbar am-cf {{#if theme}}am-navbar-{{theme}}{{else}}am-navbar-default{{/if}} {{#if options.iconPosition}}am-navbar-inline{{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}"
      id="{{id}}">
    {{#if content}}
      <ul class="am-navbar-nav am-cf {{#if options.cols}}am-avg-sm-{{options.cols}}{{/if}}">
        {{#each content}}
          <li {{#if dataApi}}{{dataApi}}{{/if}}>
            <a href="{{link}}" class="{{className}}">
              {{#if customIcon}}
                <img src="{{customIcon}}" alt="{{title}}"/>
              {{else}}
                {{#if icon}}
                  <span class="am-icon-{{icon}}"></span>
                {{/if}}
              {{/if}}
              {{#if title}}
                <span class="am-navbar-label">{{title}}</span>
              {{/if}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
{{/this}}
