{{#this}}
  <footer data-am-widget="footer"
          class="am-footer {{#if theme}}am-footer-{{theme}}{{else}}am-footer-default {{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}"
          {{#if id}}id="{{id}}"{{/if}} data-am-footer="{ {{#if options.addToHS}}addToHS: 1{{/if}} }">
    <div class="am-footer-switch">
    <span class="{{#if options.modal}}am-footer-ysp{{/if}}" data-rel="mobile"
          data-am-modal="{target: '#am-switch-mode'}">
      {{#unless content.switchName}}
        {{#ifCond content.lang '==' 'en'}}
          Mobile
        {{else}}
          云适配版
        {{/ifCond}}
      {{else}}
        {{content.switchName}}
      {{/unless}}
    </span>
      <span class="am-footer-divider"> | </span>
      <a id="godesktop" data-rel="desktop" class="am-footer-desktop" href="javascript:">
        {{#ifCond content.lang '==' 'en'}}
          Desktop
        {{else}}
          电脑版
        {{/ifCond}}
      </a>
    </div>
    <div class="am-footer-miscs {{#if options.textPosition}}am-text-left{{/if}}">

      {{#if options.techSupportCo}}
        {{#ifCond content.lang '==' 'en'}}
          <p>Supported by {{#if options.techSupportSite}}<a href="{{options.techSupportSite}}"
                                                            title="{{options.techSupportCo}}"
                                                            target="_blank"> class="{{className}}"{{{options.techSupportCo}}}</a>{{else}}{{{options.techSupportCo}}}{{/if}}
            .</p>
        {{else}}
          <p>由 {{#if options.techSupportSite}}<a href="{{options.techSupportSite}}" title="{{options.techSupportCo}}"
                                                target="_blank" class="{{techSupportClassName}}">{{{options.techSupportCo}}}</a>{{else}}{{{options.techSupportCo}}}{{/if}}
            提供技术支持</p>
        {{/ifCond}}
      {{/if}}
      {{#each content.companyInfo}}
        <p>{{{detail}}}</p>
      {{/each}}
    </div>
  </footer>

  <div id="am-footer-modal"
       class="am-modal am-modal-no-btn am-switch-mode-m {{#if theme}}am-switch-mode-m-{{theme}}{{/if}}">
    <div class="am-modal-dialog">
      <div class="am-modal-hd am-modal-footer-hd">
        <a href="javascript:void(0)" data-dismiss="modal" class="am-close am-close-spin {{className}}" data-am-modal-close>&times;</a>
      </div>
      <div class="am-modal-bd">
        {{#ifCond content.lang '==' 'en'}}
          You are visiting
        {{else}}
          您正在浏览的是
        {{/ifCond}}

        <span class="am-switch-mode-owner">
          {{#if content.owner}}
            {{content.owner}}
          {{else}}
            云适配
          {{/if}}
        </span>

        <span class="am-switch-mode-slogan">
          {{#if content.slogan}}
            {{{content.slogan}}}
          {{else}}
            {{#ifCond content.lang '==' 'en'}}
              mobilized version for your device.
            {{else}}
              为您当前手机订制的移动网站。
            {{/ifCond}}
          {{/if}}
        </span>
      </div>
    </div>
  </div>
{{/this}}
