{{#this}}
  <div data-am-widget="wechatpay" class="am-wechatpay{{#if theme}} am-wechatpay-{{theme}}{{else}} am-wechatpay-default{{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}"{{#if id}} id="{{id}}"{{/if}} data-wechat-pay="{ {{#each content.order}} {{@key}}: '{{this}}',{{/each}} }">
      <button type="button" class="am-btn am-btn-primary am-btn-block am-wechatpay-btn">
        {{#if content.title}}
          {{content.title}}
        {{else}}
          微信支付
        {{/if}}
      </button>
  </div>
{{/this}}
