{{#this}}
  <section data-am-widget="container" class="am-container{{#if theme}} am-container-{{theme}}{{else}} am-container-default{{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}"{{#if id}} id="{{id}}"{{/if}}>

  </section>
{{/this}}