{{#this}}
  <div class="am am-switch-mode {{#if theme}}am-switch-mode-{{theme}} {{/if}}{{#if className}} {{className}}{{/if}}" id="{{id}}">
    <span class="{{#ifCond options.modal '==' 'true'}}am-switch-mode-ysp{{/ifCond}}">
      {{#unless content.switchName}}
        {{#ifCond options.auto '==' 'true'}}
          {{#ifCond content.lang '==' 'en'}}
            Mobile
          {{else}}
            云适配版
          {{/ifCond}}
        {{else}}
          {{#ifCond options.lang '==' 'en'}}
            Mobile
          {{else}}
            云适配版
          {{/ifCond}}
        {{/ifCond}} 
      {{else}}
        {{content.switchName}}
      {{/unless}}
    </span>
    <span class="am-switch-mode-divider"> | </span>
    <a id="godesktop" class="am-switch-mode-desktop" href="#" onclick="AMPlatform.util.goDesktop();">
      {{#ifCond options.auto '==' 'true'}}
        {{#ifCond content.lang '==' 'en'}}
          Desktop
        {{else}}
          电脑版
        {{/ifCond}}
      {{else}}
        {{#ifCond options.lang '==' 'en'}}
          Desktop
        {{else}}
          电脑版
        {{/ifCond}}
      {{/ifCond}}    
    </a>
  </div>
  <div id="am-switch-mode"
       class="modal am-switch-mode-m {{#if theme}}am-switch-mode-m-{{theme}}{{/if}}">
    <div class="am-switch-mode-wrap">
      <div class="am-switch-mode-hd">
        <a href="javascript:void(0)" data-dismiss="modal" class="am-switch-mode-close">Close</a>
      </div>
      <div class="am-switch-mode-bd">
        {{#ifCond options.siteType '==' 'ec'}}
          {{#ifCond options.auto '==' 'true'}}
            {{#ifCond content.lang '==' 'en'}}
              You are visiting 
            {{else}}
              您正在浏览的是
            {{/ifCond}}
          {{else}}
            {{#ifCond options.lang '==' 'en'}}
              You are visiting 
            {{else}}
              您正在浏览的是
            {{/ifCond}}
          {{/ifCond}}
          
          {{#if content.owner}}
            <span class="am-switch-mode-owner">
              {{content.owner}}
            </span>
          {{/if}}

          <span class="am-switch-mode-slogan">
            {{#if content.slogan}}
              {{{content.slogan}}}
            {{else}}
              {{#ifCond options.auto '==' 'true'}}
                {{#ifCond content.lang '==' 'en'}}
                  mobilized version for your device. 
                {{else}}
                  为您当前手机定做的移动网站。轻动手指尖，移动随心购！
                {{/ifCond}}
              {{else}}
                {{#ifCond options.lang '==' 'en'}}
                  mobilized version for your device.
                {{else}}
                  为您当前手机定做的移动网站。轻动手指尖，移动随心购！
                {{/ifCond}}
              {{/ifCond}}
            {{/if}}
          </span>
        {{else}}
          {{#ifCond options.auto '==' 'true'}}
            {{#ifCond content.lang '==' 'en'}}
              You are visiting 
            {{else}}
              您正在浏览的是
            {{/ifCond}}
          {{else}}
            {{#ifCond options.lang '==' 'en'}}
              You are visiting 
            {{else}}
              您正在浏览的是
            {{/ifCond}}
          {{/ifCond}}
          {{#if content.owner}}
            <span class="am-switch-mode-owner">
              {{content.owner}}
            </span>
          {{/if}}
          <span class="am-switch-mode-slogan">
            {{#ifCond options.lang '==' 'en'}}
              {{#if content.slogan}}
                {{{content.slogan}}}
              {{else}}
                mobilized version for your device.
              {{/if}}
            {{else}}
              {{#if content.slogan}}
                {{{content.slogan}}}
              {{else}}
                {{#ifCond options.auto '==' 'true'}}
                  {{#ifCond content.lang '==' 'en'}}
                    mobilized version for your device. 
                  {{else}}
                    为您当前手机定做的移动网站。
                  {{/ifCond}}
                {{else}}
                  {{#ifCond options.lang '==' 'en'}}
                    mobilized version for your device.
                  {{else}}
                    为您当前手机定做的移动网站。轻动手指尖，移动随心购！
                  {{/ifCond}}
                {{/ifCond}}
              {{/if}}
            {{/ifCond}}
          </span>
        {{/ifCond}}
      </div>
    </div>
  </div>
{{/this}}