{{#this}}
  <header data-am-widget="header"
          class="am-header{{#if theme}} am-header-{{theme}}{{else}} am-header-default{{/if}}{{#if options.fixed}} am-header-fixed{{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}"{{#if id}}
          id="{{id}}"{{/if}}>
    {{#if content.left}}
      <div class="am-header-left am-header-nav">
        {{#each content.left}}
          <a href="{{link}}" class="{{className}}">
            {{#if title}}
              <span class="am-header-nav-title">
                {{title}}
              </span>
            {{/if}}

            {{# if customIcon}}
              <img class="am-header-icon-custom" src="{{customIcon}}" alt=""/>
            {{else}}
              {{#if icon}}
                <i class="am-header-icon am-icon-{{icon}}"></i>
              {{/if}}
            {{/if}}
          </a>
        {{/each}}
      </div>
    {{/if}}

    {{#if content.title}}
      <h1 class="am-header-title">
        {{#if content.link}}
          <a href="{{content.link}}" class="{{content.className}}">
            {{{content.title}}}
          </a>
        {{else}}
          {{{content.title}}}
        {{/if}}
      </h1>
    {{/if}}

    {{#if content.right}}
      <div class="am-header-right am-header-nav">
        {{#each content.right}}
          <a href="{{link}}" class="{{className}}">
            {{#if title}}
              <span class="am-header-nav-title">
                {{title}}
              </span>
            {{/if}}

            {{# if customIcon}}
              <img class="am-header-icon-custom" src="{{customIcon}}" alt=""/>
            {{else}}
              {{#if icon}}
                <i class="am-header-icon am-icon-{{icon}}"></i>
              {{/if}}
            {{/if}}
          </a>
        {{/each}}
      </div>
    {{/if}}
  </header>
{{/this}}
