{{#this}}
  <div data-am-widget="header" class="am-header{{#if theme}} am-header-{{theme}}{{else}} am-header-default{{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}"{{#if id}} id="{{id}}"{{/if}}>

    <div class="am-header-left">
        {{#each content.left}}
          <a href="{{content.left.link}}">
              {{# if content.left.icon}}
                <span class="am-icon-sm {{content.left.icon}} "></span>
              {{else}}
                <img src="{{content.left.img}}"/>
              {{/if}}
          </a>
        {{/each}}
    </div>

    {{#if content.title}}
      <h2 class="am-header-title">
        {{{content.title}}}
      </h2>
    {{/if}}

    <div class="am-header-right">
        {{#each content.right}}
            <a href="{{content.right.link}}">
              {{# if content.right.icon}}
                <span class="am-icon-sm {{content.right.icon}} "></span>
              {{else}}
                  <img src="{{content.right.img}}"/>
              {{/if}}

            </a>
        {{/each}}
    </div>

  </div>
{{/this}}