{{#this }}
  <div data-am-widget="intro"
       class="am-intro am-cf {{#if theme}}am-intro-{{theme}}{{else}}am-intro-default{{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}"
       {{#if id}}id="{{id}}"{{/if}}>
    {{#if content.title}}
      <div class="am-intro-hd">
        <h2 class="am-intro-title">{{{content.title}}}</h2>
        {{#if content.more.link}}
          {{#ifCond options.position '==' 'top'}}
            <a class="am-intro-more am-intro-more-top {{content.more.className}}" href="{{content.more.link}}">{{content.more.title}}</a>
          {{/ifCond}}
        {{/if}}
      </div>
    {{/if}}

    <div class="am-g am-intro-bd">
      {{#if content.left}}
        <div
            class="am-intro-left {{#if options.leftCols}}am-u-sm-{{options.leftCols}}{{/if}}">{{{content.left}}}</div>
      {{/if}}
      {{#if content.right}}
        <div
            class="am-intro-right {{#if options.rightCols}}am-u-sm-{{options.rightCols}}{{/if}}">{{{content.right}}}</div>
      {{/if}}
    </div>
    {{#ifCond options.position '==' 'bottom'}}
      <div class="am-intro-more-bottom">
        <a class="am-btn am-btn-default {{content.more.className}}"
           href="{{content.more.link}}">{{content.more.title}}</a>
      </div>
    {{/ifCond}}
  </div>
{{/this}}
